<html>
<body>
<h2>Resultado Exportación Data Protector</h2>

<table border="1">
<tr>
  <td>Servidor</td>
  <td>{{ hostname.stdout }}</td>
</tr>
<tr>
  <td>Cliente</td>
  <td>{{ CLIENTE }}</td>
</tr>
<tr>
  <td>RC</td>
  <td>{{ exportdp.rc }}</td>
</tr>
</table>

<h3>Salida</h3>

<table border="1">
{% for linea in exportdp.stdout_lines %}
<tr>
<td>{{ linea }}</td>
</tr>
{% endfor %}
</table>

</body>
</html>
